@use '../../colors';

.header-links {
  position: relative;
  padding-bottom: 5px;

  a {
    font-family: var(--font-raleway);
    font-size: 18px;
    padding-right: 25px;
    color: #ece7e1;
    letter-spacing: 1px;

    &.active {
      opacity: 1;
      font-weight: bold;
    }

    &:hover {
      opacity: 1;
      font-weight: bold;
    }
  }

  .logo {
    position: absolute;
    top: -40%;
    right: 1%;
    width: 40px;
    height: auto;

    &:hover{
      -webkit-animation: spin 5s infinite;
       animation: spin 5s infinite;
    }
    
    @-webkit-keyframes spin{
      from {
        -webkit-transform: rotateY(0deg);
      }
      to {
        -webkit-transform: rotateY(-360deg);
      }
    }
    
    @keyframes spin {
      from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
      }
      
      to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
      }
    }
  }
}

.mobile-header-links {
  padding-left: 0 !important;

  .container-fluid {
    max-height: 10px;
  }

  .navbar-nav {
    position: relative;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .navbar-toggler {
    position: absolute;
    color: transparent!important;
    border: 0!important;
    background: transparent!important;
    margin-right: 0 !important;
    top: -100%;
    right: -2%;
    transform: translate(10%, -230%);

    &:hover {        
      color: transparent!important;
      border: 0!important;
      background: transparent!important;
    }
  }
  .navbar-nav {
    text-align: center;
    font-size: 12px;

    > *:not(:last-child) {
      padding-bottom: 15px;
    }

    .nav-item a {
      font-family: var(--font-raleway);
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}

.container-fluid {
  max-height: 100%;
  height: 100%;
  z-index: 2;
  
  &.about-header-links {
    .header-links {
      a {
        color: #1a1818;
      }
    }
  }
  
  .row {
    position: fixed;
    width: 100%;
    
    &.scrollbar {
      backdrop-filter: blur(100px);
      -webkit-backdrop-filter: blur(100px);
      z-index: 4;
      overflow: hidden;
      // height: calc(100% - 540px);
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;

  &:hover {
    cursor: default;
  }
}

.small {
  .navbar-brand {
    margin-left: 25px;
  }
}

.mb-ps {
  position: absolute;
  top: 25% !important;
  right: 3%;
}

@media (min-width: 768px) {
  .navbar-expand-md {
    .navbar-nav {
      flex-direction: column !important;
    }
  }
}

@media only screen and (max-device-width : 768px) {
  .mobile-header-links {
    .navbar-toggler {
      top: 0;
      right: -5%;
      transform: none;
    }
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) and (orientation : landscape) {
  .mobile-header-links {
    .navbar-toggler { 
      top: 0 !important;
      right: 0 !important;
      transform: none;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) { 
  .title-wrapper {
    left: 5%;

    .title {
      margin-bottom: -90px;
      
      &:first-child {
        text-align: left;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) and (orientation: landscape) { 
  .mobile-header-links {
    .navbar-toggler {
      right: 0;
    }
  }
}

@media only screen and (min-device-width: 820px) and (max-device-height: 1180px) and (orientation: portrait) { 
  .mobile-header-links {
    .navbar-toggler {
      right: -1%;
    }
  }
}

@media only screen and (min-device-width: 820px) and (orientation: landscape) {
  .mobile-header-links {
    .navbar-toggler {
      top: -50%;
      right: 0;
      transform: none;
    }
  }
}

@media only screen and (max-device-width: 1024px) and (max-device-height: 768px) and (orientation: landscape) { 
  .mobile-header-links {
    .navbar-toggler {
      right: 0;
    }
  }
}

@media only screen and (min-device-width: 768px) and (min-device-height: 1024px) and (orientation: portrait) {
  .mobile-header-links {
    .navbar-toggler {
      right: -1%;
    }
  }
}

@media only screen and (min-device-width: 1024px) and (min-device-height: 768px) and (max-device-width: 1366px) { 
  .mobile-header-links {
    .navbar-toggler {
      right: 0;
    }
  }
}

@media only screen and (max-device-width : 768px) and (orientation: landscape) { 
  .mobile-header-links {
    .navbar-toggler {
      right: -1%;
    }
  }
}
